.opportunities{
    margin-top: 2px;
    margin-left: 0px;
    color:gray;
}

#scope_of_work{
    background-color:lightsteelblue;
    color: #000;
}

#freight_type{
    background-color:lightsteelblue;
    color: #000;
}

#type{
    background-color:lightsteelblue;
    color: #000;
}

#enquiry_date{
    background-color:lightsteelblue;
    color: #000;
}

#enquiry_form{
    background-color:white;
    box-shadow: 2px 6px 10px #000;
}

.navbar-custom{
    background-color:white;
    border-top:1px solid #000;
    border-bottom: 1px solid #000;   
}

.breadcrumb{
    background-color: white;
}

.button{
    align-items: center;
    justify-content: center;
}

.star-label {
    margin-left: 25px;

}

/* Style the radio buttons as stars */

input[type="radio"] {
    display: none; 
}

input[type="radio"] + label {
    cursor: pointer;
    font-size: 30px; 
    display: inline-block;
}

input[type="radio"] + label::before {
    content: '\2605'; 
    margin-right: 5px;
    color: #ccc; 
}

input[type="radio"]:checked + label::before {
    color:lightslategray; 
}