<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'logistics/css/bootstrap.min.css' %}">
    <title>Logistics</title>
</head>
<body>
    <div class="container-fluid bg-dark">
        {% include 'logistics/navbar.html' %}
    </div>
    
    <div>
        {% block content %}{% endblock content%}
    </div>

    
    <script src="{% static 'logistics/js/jquery.js' %}"></script>
    <script src="{% static 'logistics/js/popper.js' %}"></script>
    <script src="{% static 'logistics/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    

</body>
</html>