{% extends 'logistics/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">



<nav aria-label="breadcrumb" style="margin-top: 50px;">
    <ol class="breadcrumb" style="font-size: x-large; margin-bottom: auto;">
        <li class="breadcrumb-item"><a href="{% url 'enquiry_list' %}">Opportunities</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
    <!-- <button type="submit" class="btn btn-info ml-3">Save</button>
    <button type="button" class="btn btn-outline-dark">Discard</button> -->
</nav>



<div class="navbar navbar-custom navbar-expand-lg" style="margin-top:auto; padding: 0;">
    <div style="padding-top: 2px;padding-bottom: 2px;margin-left: 15px;">
        <div class="justify-content-start">
            <button class="btn btn-sm btn-primary" type="button"><b>New Freight Quotation</b></button>
            <button id="mark_won_button" class="btn btn-sm btn-primary" type="button"><b>Mark Won</b></button>
            <button class="btn btn-sm btn-primary" type="button"><b>Mark Lost</b></button>
        </div>
    </div>

    <div class="custom-stages ml-auto">
        <span class="stage active" data-stage="enquiry"><b>New</b></span>
        <span class="stage" data-stage="qualified"><b>Qualified</b></span>
        <span class="stage" data-stage="won"><b>Won</b></span>
    </div>

</div>


<div class="">
    <section class="formsection mt-4 mb-4">
        <div class="col-sm-12 col-md-8 col-lg-10 m-auto">
            <form id="enquiry_form" method="post" action="{% url 'enquiryform' %}">
                {% csrf_token %}
                <div class="row ml-2">
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label for="Scope_of_work" class="mt-4"><b>Scope of Work</b></label>
                            <input type="text" class="form-control form-control-lg" id="scope_of_work"
                                name="scope_of_work" required>
                        </div>
                    </div>
                </div>

                <div class="row ml-2">
                    <div class="col-sm-6 col-md-6 col-lg-5">
                        <div class="form-group">
                            <label for="enquiry_date"><b>Enquiry Date</b></label>
                            <input type="date" class="form-control form-control-sm" id="enquiry_date"
                                name="enquiry_date">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                        <div class="form-group">
                            <label for="freight_type"><b>Freight Type</b></label>
                            <select class="form-control form-control-sm" id="freight_type" name="freight_type">
                                <option selected>Select</option>
                                <option value="Air Freight">Air Freight</option>
                                <option value="Sea Freight">Sea Freight</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row ml-2">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="job_category"><b>Job Category</b></label>
                            <select class="form-control form-control-sm" id="job_category" name="job_category">
                                <option selected>Select</option>
                                <option value="Constuction">Constuction</option>
                                <option value="Sales">Sales </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5 offset-1">
                        <div class="form-group">
                            <label for="type"><b>Type</b></label>
                            <select class="form-control form-control-sm" id="type" name="type">
                                <option selected>Select</option>
                                <option value="Import">Import </option>
                                <option value="Export">Export </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row ml-2">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="status"><b>Status</b></label>
                            <input type="text" class="form-control form-control-sm" name="status" id="status"
                                value="Enquiry" disabled>
                        </div>
                    </div>
                    <!-- <div class="col-sm-5 offset-1">
                        <label for="priority"><b>Priority Tags</b></label>
                        <input type="radio" name="priority_tags" id="star1" value="low">
                        <label class="star-label" for="star1" onclick="checkAndSelectStar(1)"></label>

                        <input type="radio" name="priority_tags" id="star2" value="normal">
                        <label class="star-label" for="star2" onclick="checkAndSelectStar(2)"></label>

                        <input type="radio" name="priority_tags" id="star3" value="high">
                        <label class="star-label" for="star3" onclick="checkAndSelectStar(3)"></label>
                    </div> -->
                </div>

                <div class="row mt-5"></div>

                <div class="row ml-2">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="customer"><b>Customer</b></label>
                            <input type="text" class="form-control form-control-sm" id="customer_name"
                                name="customer_name" required>
                        </div>
                    </div>
                    <div class="col-sm-5 offset-1">
                        <div class="form-group">
                            <label for="contact_person"><b>Contact Person</b></label>
                            <input type="text" class="form-control form-control-sm" id="contact_person"
                                name="contact_person" required>
                        </div>
                    </div>
                </div>

                <div class="row ml-2">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="email"><b>Email</b></label>
                            <input type="email" class="form-control form-control-sm" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="col-sm-5 offset-1">
                        <div class="form-group">
                            <label for="sales_person"><b>Sales Person</b></label>
                            <input type="text" class="form-control form-control-sm" id="sales_person"
                                name="sales_person" required>
                        </div>
                    </div>
                </div>

                <div class="row ml-2">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="phone"><b>Phone</b></label>
                            <input type="text" class="form-control form-control-sm" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="col-sm-5 offset-1">
                        <div class="form-group">
                            <label for="sales_team"><b>Sales Team</b></label>
                            <input type="text" class="form-control form-control-sm" id="sales_team" name="sales_team"
                                required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ml-2">
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label for="enquiry_details"><b>Enquiry Details</b></label>
                            <textarea class="form-control" id="enquiry_details" name="enquiry_details" rows="2"
                                required></textarea>
                            <small id="emailHelp" class="form-text text-muted">Please provide brief information about
                                enquiry.</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ml-2">
                    <div class="col-sm-12">
                        <div class="button">
                            <button type="submit" class="btn btn-sm btn-primary" style="font-size: 17px;">Save</button>
                            <!-- <button type="button" class="btn btn-sm btn-outline-dark" style="font-size: 16px;">Discard</button> -->
                        </div>
                    </div>
                </div>

                <div class="row mt-3"></div>


            </form>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
    function checkAndSelectStar(starNumber) {
        for (let i = 1; i <= starNumber; i++) {
            document.getElementById(`star${i}`).checked = true;
        }
    }
</script> -->

{% endblock content %}