{% extends 'logistics/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">

<nav aria-label="breadcrumb" style="margin-top: 50px;">
    <ol class="breadcrumb" style="font-size: x-large; margin-bottom: auto;">
        <li class="breadcrumb-item"><a href="" style="color: steelblue;">Opportunities</a></li>
        <li class="breadcrumb-item"><a href="" style="color: steelblue;">{{instance.scope_of_work}}</a></li>
        <li class="breadcrumb-item"><a href="" style="color: steelblue;">...20030{{instance.id}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">...20030{{instance.id}}</li>
    </ol>
</nav>

<nav class="navbar navbar-custom navbar-expand-lg" style="margin-top:auto;padding: 0;">
    <div style="padding-top: 2px;padding-bottom: 2px;margin-left: 15px;">
        <div class="justify-content-start">
            <a href="{% url 'print_pdf' instance.id quotation.id order.id %}" type="button" id="printButton" class="btn btn-sm btn-primary" style="background-color: steelblue; border: none;"><b>Print Invoice</b></a>
            <button id="prepare_delivery" class="btn btn-sm btn-primary" style="background-color: steelblue; border: none;"><b>Prepare Delivery</b></button>
            <button class="btn btn-sm btn-primary" type="button" style="background-color: steelblue; border: none;"><b>Cancel</b></button>
        </div>
    </div>
    <div class="custom-stages ml-auto">
        <span class="stage active" data-stage="order"><b>Confirmed</b></span>
        <span class="stage" data-stage="on_delivery"><b>Preparing</b></span>
        <span class="stage" data-stage="delivered"><b>In Transit</b></span>
        <span class="stage" data-stage="done"><b>Done</b></span>
    </div>
</nav>

<div class="invoice-body">
    <div class="invoice-container">
        <div class="header">
            <div class="row">
                <div class="invoice-logo col-sm-6">
                    <img src="{% static 'logistics/images/OBJECTS.png' %}" alt="logo"><br>
                </div>
                <div class="invoice col-sm-6">
                    <div class="invoice-title">INVOICE</div>
                    <div class="invoice-number" style="margin-top: 1px;">Invoice No: 1{{instance.id}}</div>
                    <div class="date">Date: {{order_date|date:"d-m-Y"}}</div>
                </div>
            </div>
        </div>
        <hr class="colored-line">
        <div class="details">
            <div class="bill-details">
                <div class="bill-from">
                    <div class="label">Bill from:</div>
                    <div class="info">{{order.shipper_name}}<br>{{order.shipper_email}}<br>{{order.shipper_phone}}</div>
                </div>
                <div class="bill-to">
                    <div class="label">Bill to:</div>
                    <div class="info">{{instance.customer_name}}<br>{{instance.email}}<br>{{instance.phone}}</div>
                </div>
            </div>
            <hr class="colored-line">
            <div class="row mt-3"></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Rate</th>
                        <th>Tax</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{quotation.product}}</td>
                        <td style="text-align: center;">{{quotation.quantity}}</td>
                        <td style="text-align: center;">$362.5 <br> per peice</td>
                        <td>0.00</td>
                        <td>$650.00</td>
                    </tr>
                    <!-- <tr>
                        <td>{{instance.freight_type}}</td>
                        <td></td>
                        <td>$04.00 <br> per km</td>
                        <td>0.00</td>
                        <td>$51.00</td>
                    </tr>
                    <tr>
                        <td>Rush Delivery</td>
                        <td>01</td>
                        <td>$35.00</td>
                        <td>0.00</td>
                        <td>$35.00</td>
                    </tr> -->
                </tbody>
            </table>
            <div class="terms mt-5" style="color: steelblue; margin-bottom: 0;">Terms & Conditions:</div>
            <p style="margin-top: 0;">Payment is due within 15 days</p>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-sm-4 offset-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="total-label">SubTotal:</div>
                            <div class="total-label mt-2">Discount:</div>
                            <div class="total-label mt-2">Tax:</div>
                            <div class="total-label mt-2">Paid:</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="total-label">$650.00</div>
                            <div class="total-label mt-2">$0.00</div>
                            <div class="total-label mt-2">$0.00</div>
                            <div class="total-label mt-2">$0.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="colored-line">
        <div class="row">
            <div class="total">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="total-amount">Total</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="total-amount">$650.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.stage[data-stage="order"]').addClass('active');

        $('#prepare_delivery').click(function () {
            $('.stage').removeClass('active');
            $('.stage[data-stage="on_delivery"]').addClass('active');
        });
    });
</script>
{% endblock content %}