{% extends 'logistics/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">

<nav aria-label="breadcrumb" style="margin-top: 50px;">
    <ol class="breadcrumb" style="font-size: x-large; margin-bottom: auto;">
        <li class="breadcrumb-item"><a href="{% url 'enquiry_list' %}">Opportunities</a></li>
        <li class="breadcrumb-item"><a href="{% url 'edit_enquiry' instance.id %}">{{instance.scope_of_work}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'save_quotation' instance.id %}">...20030{{instance.id}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">...20030{{instance.id}}</li>
    </ol>
</nav>

<nav class="navbar navbar-custom navbar-expand-lg" style="margin-top:auto;padding: 0;">
    <div style="padding-top: 2px;padding-bottom: 2px;margin-left: 15px;">
        <div class="justify-content-start">
            <a href="" class="btn btn-sm btn-primary" style="background-color: steelblue; border:none;"><b>Confirm Order</b></a>
            <button class="btn btn-sm btn-primary" type="button" style="background-color: steelblue; border:none;"><b>Cancel</b></button>
        </div>
    </div>
    <div class="custom-stages ml-auto">
        <span class="stage active" data-stage="approved"><b>Approved</b></span>
        <span class="stage" data-stage="order"><b>Order</b></span>
        <span class="stage" data-stage="delivered"><b>Delivered</b></span>
        <span class="stage" data-stage="done"><b>Done</b></span>
    </div>
</nav>

<div>
    <section class="form-section mt-4 mb-4">
        <div class="col-sm-12 col-md-8 col-lg-10 m-auto">
            <div class="quotation-details">
                <div class="row ml-2">
                    <div class="col-sm-12">
                        <h4 class="mt-4 ml-2"><b>COMPANY01EQ20030{{instance.id}}</b></h4>
                    </div>
                </div>
                <div class="row mt-4"></div>
                <div class="row ml-2">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4 ml-4">
                                <p class="mt-5"><b>Customer</b></p>
                                <p class="mt-5"></p>
                                <p><b>Freight Type</b></p>
                                <p><b>Track Number</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p class="mt-5">{{instance.customer_name}}</p>
                                <p class="mt-5"></p>
                                <p>{{instance.freight_type}}</p>
                                <p>COMPANY01EQ20030{{instance.id}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4 ml-4">
                                <div class="row mt-5"></div>
                                <div class="row mt-4"></div>
                                <div class="row mt-5"></div>
                                <p><b>Type</b></p>
                                <p><b>Job Category</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <div class="row mt-5"></div>
                                <div class="row mt-4"></div>
                                <div class="row mt-5"></div>
                                <p>{{instance.type}}</p>
                                <p>{{instance.job_category}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5"></div>
                <form action="{% url 'pending_order' instance.id quotation.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row ml-3">
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="shipping_agent"><b>Shipping Agent</b></label>
                                <input type="text" style="background-color: lightsteelblue; color: black;"
                                    class="form-control form-control-sm" id="shipping_agent" name="shipping_agent">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                            <div class="form-group">
                                <label for="acc_num"><b>Account Number</b></label>
                                <input type="number" class="form-control form-control-sm" id="acc_num"
                                    name="shipping_agent_acc_num">
                            </div>
                        </div>
                    </div>
                    <div class="row ml-3">
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <label for="order_date"><b>Order Date</b></label>
                            <input type="date" class="form-control form-control-sm" id="order_date" name="order_date">
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="row mt-5"></div>
                    <div class="row ml-3">
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="airline"><b>Airline</b></label>
                                <input type="text" style="background-color: lightsteelblue; color: black;"
                                    class="form-control form-control-sm" id="airline" name="airline">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                            <div class="form-group">
                                <label for="flight_date"><b>Flight Date</b></label>
                                <input type="date" class="form-control form-control-sm" id="flight_date"
                                    name="flight_date">
                            </div>
                        </div>
                    </div>
                    <div class="row ml-3">
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="origin_airport"><b>Origin Airport</b></label>
                                <input type="text" class="form-control form-control-sm" id="origin_airport"
                                    name="origin">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                            <div class="form-group">
                                <label for="flight_code"><b>Flight Code</b></label>
                                <input type="text" class="form-control form-control-sm" id="flight_code"
                                    name="flight_number">
                            </div>
                        </div>
                    </div>
                    <div class="row ml-3">
                        <div class="col-sm-6 col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="destination_airport"><b>Destination Airport</b></label>
                                <input type="text" class="form-control form-control-sm" id="destination_airport"
                                    name="destination">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5"></div>
                    <div class="row ml-4">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="shipper" aria-current="page"
                                    href="#shipper_details">Shipper</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="consignee" href="#consignee_details">Consignee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="packages" href="#packages_details">Packages</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row mt-5"></div>
                    <div id="shipper_details">
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="shipper_name"><b>Shipper Name</b></label>
                                    <input type="text" class="form-control form-control-sm" id="shipper_name"
                                        name="shipper_name">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                                <div class="form-group">
                                    <label for="shipper_acc"><b>Account No</b></label>
                                    <input type="text" class="form-control form-control-sm" id="shipper_acc"
                                        name="shipper_acc_num">
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="shipper_add"><b>Address</b></label>
                                    <textarea class="form-control form-control-sm" id="shipper_add"
                                        name="shipper_address" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5"></div>
                    </div>

                    <div id="consignee_details" style="display: none;">
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="consignee_name"><b>Consignee Name</b></label>
                                    <input type="text" class="form-control form-control-sm" id="consignee_name"
                                        name="consignee_name">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                                <div class="form-group">
                                    <label for="consignee_acc"><b>Account No</b></label>
                                    <input type="text" class="form-control form-control-sm" id="consignee_acc"
                                        name="consignee_acc_num">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3"></div>
                        <div class="row ml-4">
                            <h4 class="ml-2"><b>Notify</b></h4>
                        </div>
                        <div class="row mt-3"></div>
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="notify_name"><b>Notify Name</b></label>
                                    <input type="text" class="form-control form-control-sm" id="notify_name"
                                        name="notify_name">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                                <div class="form-group">
                                    <label for="notify_acc"><b>Account No</b></label>
                                    <input type="text" class="form-control form-control-sm" id="notify_acc"
                                        name="notify_acc">
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="notify_add"><b>Address</b></label>
                                    <textarea class="form-control form-control-sm" id="notify_add" name="notify_add"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5"></div>
                    </div>

                    <div id="packages_details" style="display: none;">
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="units"><b>Units</b></label>
                                    <input type="text" value="{{quotation.unit}}" class="form-control form-control-sm"
                                        id="units" name="units" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                                <div class="form-group">
                                    <label for="weight"><b>Weight(kg)</b></label>
                                    <input type="text" value="{{quotation.weight}}" class="form-control form-control-sm"
                                        id="weight" name="weight" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="quantity"><b>Quantity</b></label>
                                    <input type="text" value="{{quotation.quantity}}"
                                        class="form-control form-control-sm" id="quantity" name="quantity" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-5 offset-1">
                                <div class="form-group">
                                    <label for="dimension"><b>Dimension</b></label>
                                    <input type="text" value="{{quotation.dimension}}"
                                        class="form-control form-control-sm" id="dimension" name="dimension" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-3">
                            <div class="col-sm-6 col-md-6 col-lg-5">
                                <div class="form-group">
                                    <label for="desc"><b>Description of Goods</b></label>
                                    <textarea class="form-control form-control-sm" id="desc" name="desc"
                                        disabled>{{instance.enquiry_details}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5"></div>
                    </div>
                    <div class="row ml-4">
                        <button type="submit" class="btn btn-sm btn-primary ml-2" style="font-size: 17px; background-color: steelblue; border: none;">Save</button>
                    </div>
                    <div class="row mt-3"></div>
                </form>
            </div>
        </div>
    </section>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.stage[data-stage="approved"]').addClass('active');

        $('#confirm_button').click(function () {
            $('.stage').removeClass('active');
            $('.stage[data-stage="order"]').addClass('active');
        });

        $("#consignee").click(function () {
            $("#consignee_details").show();
            $("#shipper_details").hide();
            $("#packages_details").hide();

            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
        $("#shipper").click(function () {
            $("#shipper_details").show();
            $("#consignee_details").hide();
            $("#packages_details").hide();

            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
        $("#packages").click(function () {
            $("#packages_details").show();
            $("#shipper_details").hide();
            $("#consignee_details").hide();

            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
{% endblock content %}