{% extends 'logistics/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<nav aria-label="breadcrumb" style="margin-top: 50px;">
    <div class="d-flex justify-content-between align-items-center">
        <ol class="breadcrumb" style="font-size:x-large; margin-bottom: auto;">
            <li class="breadcrumb-item"><a href="{% url 'enquiry_list' %}">Opportunities</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quotations</li>
        </ol>
    </div>
</nav>

<div class="container-fluid">
    <div class="table-responsive mt-4">
        {% if data %}
        <table class="table table-striped" id="dataTable" style="overflow-x: auto; display: block;">
            <thead>
                <tr>
                    <th scope="col">Quotation ID</th>
                    <th scope="col">Job Category</th>
                    <th scope="col">Payment Type</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Freight Type</th>
                    <th scope="col">Type</th>
                    <th scope="col">Client Currency</th>
                    <th scope="col">Rate</th>
                    <!-- <th></th>   -->
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.job_category }}</td>
                    <td>{{ data.payment_type }}</td>
                    <td>{{ data.customer_name }}</td>
                    <td>{{ data.origin }}</td>
                    <td>{{ data.destination }}</td>
                    <td>{{ data.freight_type }}</td>
                    <td>{{ data.type }}</td>
                    <td>{{ data.client_currency }}</td>
                    <td>{{ data.rate }}</td>
                    <!-- <td><a href="" class="btn btn-sm btn-primary">New Quotation</a></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Data</h4>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>

{% endblock content %}