{% extends 'logistics/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">




<nav aria-label="breadcrumb" style="margin-top: 50px; margin-bottom: 10px;">
    <ol class="breadcrumb" style="font-size: x-large; margin-bottom: auto;">
        <li class="breadcrumb-item"><a href="{% url 'enquiry_list' %}">Opportunities</a></li>
        <li class="breadcrumb-item"><a href="{% url 'edit_enquiry' instance.id %}">{{instance.scope_of_work}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">...20030{{instance.id}}</li>
    </ol>
    <a href="{% url 'update_quotation' instance.id quotation.id %}" class="btn btn-primary ml-3">Edit</a>
    <a class="btn btn-outline-dark">Create</a>
</nav>

<nav class="navbar navbar-custom navbar-expand-lg" style="margin-top:auto;padding: 0;">
    <div style="padding-top: 2px;padding-bottom: 2px;margin-left: 15px;">
        <div class="justify-content-start">
            <button id="approve_quotation_button" class="btn btn-sm btn-primary">Approve Quotation</button>
            <button id="confirm_order_button" class="btn btn-sm btn-primary" type="button">Confirm Order</button>
            <a href="" class="btn btn-sm btn-outline-dark">Cancel</a>
        </div>
    </div>
    <div class="custom-stages ml-auto">
        <span class="stage active" data-stage="quotation"><b>Quotation</b></span>
        <span class="stage" data-stage="approved"><b>Approved</b></span>
        <span class="stage" data-stage="order"><b>Order</b></span>
    </div>
</nav>

<div>
    <section class="form-section mt-4 mb-4">
        <div class="col-sm-12 col-md-8 col-lg-10 m-auto">
            <div class="quotation-details">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="mt-4 ml-2"><b>COMPANY01EQ20030{{instance.id}}</b></h4>
                    </div>
                    <div class="col-sm-3 offset-3 mt-3">
                        <a href="{% url 'pending_order' instance.id quotation.id %}" type="button" id="order_button"
                            class="btn btn-lg btn-light ml-5">
                            <i class="bi bi-bookmarks-fill ml-2"></i> Orders
                        </a>
                    </div>
                </div>
                <div class="row mt-4"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4 ml-4">
                                <p class="mt-5"><b>Customer</b></p>
                                <p class="mt-5"></p>
                                <p><b>Job Category</b></p>
                                <p><b>Payment Type</b></p>
                                <p class="mt-5"></p>
                                <p><b>Sales Person</b></p>
                                <p><b>Origin</b></p>
                                <p><b>Destination</b></p>
                                <p><b>Final Destination</b></p>
                                <p class="mt-5"></p>
                                <p><b>Terms</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p class="mt-5">{{quotation.customer_name}}</p>
                                <p class="mt-5"></p>
                                <p>{{quotation.job_category}}</p>
                                <p>{{quotation.payment_type}}</p>
                                <p class="mt-5"></p>
                                <p>{{quotation.sales_person}}</p>
                                <p>{{quotation.origin}}</p>
                                <p>{{quotation.destination}}</p>
                                <p>{{quotation.final_destination}}</p>
                                <p class="mt-5"></p>
                                <p>{{quotation.terms}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4 ml-4">
                                <div class="row mt-5"></div>
                                <div class="row mt-4"></div>
                                <p class="mt-5"><b>Freight Type</b></p>
                                <div class="row mt-5"></div>
                                <div class="row mt-3"></div>
                                <p class="mt-4"><b>Type</b></p>
                                <p><b>Quotation Date</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <div class="row mt-5"></div>
                                <div class="row mt-4"></div>
                                <p class="mt-5">{{quotation.freight_type}}</p>
                                <div class="row mt-5"></div>
                                <div class="row mt-3"></div>
                                <p class="mt-4">{{quotation.type}}</p>
                                <p>{{quotation.quotation_date}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5"></div>

                <div class="row ml-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="packages" aria-current="page"
                                href="#packagesContent">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="quantity_dimension" href="#quantityDimensionContent">Quantity &
                                Dimension</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">T&C</a>
                        </li>
                    </ul>
                </div>
                <div class="row mt-5"></div>

                <div id="packagesContent" class="row ml-4 mt-4 content">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <p><b>Product</b></p>
                                <p><b>Description</b></p>
                                <p><b>Unit(s)</b></p>
                                <p><b>Weight(kg)</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p>{{quotation.product}}</p>
                                <p>{{quotation.description}}</p>
                                <p>{{quotation.unit}}</p>
                                <p>{{quotation.weight}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <p><b>Client Currency</b></p>
                                <p><b>Rate</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p>{{quotation.client_currency}}</p>
                                <p>{{quotation.rate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="quantityDimensionContent" class="row ml-4 mt-4 content" style="display: none;">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <p><b>Quantity</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p>{{quotation.quantity}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <p><b>Dimension</b></p>
                            </div>
                            <div class="col-xs-4 ml-5">
                                <p>{{quotation.dimension}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5"></div>
            </div>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.stage[data-stage="quotation"]').addClass('active');
        $('#order_button').hide();

        $('#approve_quotation_button').on('click', function () {
            $('.stage[data-stage="quotation"]').removeClass('active');
            $('.stage[data-stage="approved"]').addClass('active');
            $('#order_button').hide();
        });

        $('#confirm_order_button').click(function () {
            $('.stage').removeClass('active');
            $('.stage[data-stage="order"]').addClass('active');
            $('#order_button').show();
        });
    });


    $(document).ready(function () {

        $("#quantity_dimension").click(function () {
            $("#packagesContent").hide();
            $("#quantityDimensionContent").show();

            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
        $("#packages").click(function () {
            $("#packagesContent").show();
            $("#quantityDimensionContent").hide();

            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
{% endblock content %}