{% extends 'logistics/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'logistics/css/style.css' %}">

<nav aria-label="breadcrumb" style="margin-top: 100px; margin-left: 10px">
    <ol class="breadcrumb" style="font-size:medium;">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Track Orders</li>
    </ol>
</nav>

<div class="background" style="margin-top: 60px;">
    <div class="container">
        <section class="tracking_section">
            <h4><b>Enter the Consignement No.</b></h4>
            <form action="{% url 'track_order' %}" method="POST" class="tracking_form">
                {% csrf_token %}
                <input type="email" class="form-control form-control-lg" id="tracking_email" name="tracking_email" placeholder="Enter Your Email" required><br>
                <input type="text" class="form-control form-control-lg" id="tracking_num" name="tracking_num" placeholder="Enter Tracking Number. Example: LMS-OM07YUEVML" required><br>
                <button type="submit" class="track_button btn btn-primary btn-lg btn-block" style="font-size: 17px;">TRACK</button>
            </form>
            <!-- <div class="tracking-info mt-5">
                <div class="row">
                    <div class="shipper col-sm-6">
                        <p><b>Shipper Information</b></p>
                        <hr>
                        <p>global logistics</p>
                        <p>dsfdsbvvf</p>
                    </div>
                    <div class="col-sm-6">
                        <p><b>Receiver Information</b></p>
                        <hr>
                    </div>
                </div>
            </div> -->
            <div id="orderStatus" class="mt-5" style="display: none;">
                
            </div>
        </section>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    $('.tracking_form').submit(function(e) {
        e.preventDefault(); 
        var formData = $(this).serialize(); 
        $.ajax({
            type: 'POST', 
            url: "{% url 'track_order' %}", 
            data: formData, 
            success: function(response) { 
                if (response.order) {
                    $('#orderStatus').html('<p>Status: ' + response.order + '</p>').show(); 
                } else {
                    $('#orderStatus').html('<p> No data found for the given tracking number.</p>').show();
                }        
            },
        });
    });
});
</script>
{% endblock content %}
